@import '../../vars.css';

.container {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--color-text);
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 2.5rem;
    color: var(--color-secondary);
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

@media (min-width: 830px) {
    .projects {
        gap: 3rem;
    }

    .title {
        font-size: 3rem;
    }
}