@import '../../vars.css';

.container {
    display: flex;
    flex-direction: column;
    background: rgba(18, 22, 33, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    color: var(--color-text);
    height: 100%;
    gap: 1rem;
}

.container:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(255, 204, 0, 0.3);
}

.contentImage {
    width: 100%;
    max-height: 150px;
    overflow: hidden;
    border-radius: 0.75rem;
    flex-shrink: 0;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-secondary);
}

.description {
    font-size: 0.9rem;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill {
    background: rgba(255, 204, 0, 0.15);
    color: var(--color-secondary);
    font-size: 0.75rem;
    padding: 0.25rem 0.7rem;
    border-radius: 999px;
    font-weight: 600;
    box-shadow: 0 0 6px rgba(255, 204, 0, 0.3);
}

.links {
    margin-top: auto;
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.link {
    background: var(--color-secondary);
    color: var(--color-bg);
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0.4rem 1rem;
    border-radius: 999px;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(255, 204, 0, 0.3);
    transition: all 0.3s ease;
}

.link:hover {
    color: var(--color-text);
    box-shadow: 0 6px 16px rgba(255, 214, 51, 0.4);
}

.imageSlider {
    display: flex;
    overflow-x: auto;
    gap: 0.5rem;
    border-radius: 0.75rem;
}

.imageSlider img {
    width: 100%;
    max-width: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.imageSlider img:hover {
    transform: scale(1.05);
}


@media screen and (min-width: 830px) {
    .container {}

    .title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1rem;
    }
}