@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 5%;
    gap: 2rem;
    text-align: center;
    flex-direction: column-reverse;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: var(--font-roboto);
    margin-bottom: 1.5rem;
    color: var(--color-text);
}

.heroDescription {
    font-size: 1.5rem;
    font-family: var(--font-roboto);
    margin-bottom: 2rem;
    color: var(--color-text);
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;

}

.contactBtn:hover {
    background-color: var(--color-highlight);
    color: black;
}

.heroImg {
    width: 80%;
    max-width: 350px;
    border-radius: 50%;
    z-index: 1;
    padding-bottom: 24px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.topBlur,
.bottomBlur {
    position: absolute;
    border-radius: 50%;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.topBlur {
    width: 60vw;
    height: 60vw;
    min-width: 300px;
    max-height: 1000px;
    top: -100px;
    left: -5vw;
}

.bottomBlur {
    width: 80vw;
    height: 60vw;
    min-width: 350px;
    max-height: 1000px;
    top: 200px;
    right: -20vw;
}

/* Media Query para pantallas más grandes */
@media screen and (min-width: 830px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .content {
        align-items: flex-start;
    }

    .title {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .heroDescription {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .heroImg {
        width: 45%;
        max-width: 400px;
        padding-bottom: 0;
    }

    .contactBtn {
        font-size: 1.8rem;
        padding: 1.2rem 2.5rem;
    }
}