.heroSection {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2rem;
    border-radius: 16px;
    color: var(--color-text);
    max-width: 1200px;
    margin: 3rem auto;
    z-index: 0;
}

.heroContent {
    text-align: center;
    max-width: 600px;
    z-index: 1;
}

.heroTitle {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--color-text);
}

.wave {
    display: inline-block;
    animation: waveAnim 2s infinite;
}

@keyframes waveAnim {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(15deg);
    }

    80% {
        transform: rotate(-5deg);
    }
}

.heroSubtitle {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    color: var(--color-text-soft);
}

.contactBtn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-secondary);
    color: #111;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 6px 16px var(--color-shadow-light);
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1.2rem;
}

.contactBtn:hover,
.contactBtn:focus {
    background-color: #f7b500;
    transform: scale(1.05);
    outline: none;
}

.heroImageWrapper {
    max-width: 350px;
    width: 80%;
    margin-bottom: 2rem;
    animation: floatUpDown 3s ease-in-out infinite;
}

.heroImage {
    width: 100%;
    border-radius: 50%;
    box-shadow: var(--shadow-md);
    display: block;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}


.topBlur,
.bottomBlur {
    position: absolute;
    border-radius: 50%;
    background: var(--color-blur);
    filter: blur(100px);
    z-index: -1;
}

.topBlur {
    width: 60vw;
    height: 60vw;
    min-width: 300px;
    max-height: 1000px;
    top: -100px;
    left: -5vw;
}

.bottomBlur {
    width: 80vw;
    height: 60vw;
    min-width: 350px;
    max-height: 1000px;
    top: 200px;
    right: -20vw;
}