@import "./vars.css";

.App {
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100vh;
    color: var(--color-text);
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

.App>div {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
}